<section class="hero is-info ">
  <div class="hero-body">
    <div class="container welcomeUser">
      <h1 class="title" id="welcome" style="color: white">
        Welcome
      </h1>
      <h2 class="subtitle user-name" data-name="">
      </h2>
    </div>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">


        <a data-target="pane-1" id="1" class="navbar-item" onclick="Profile ()">
          <span class="icon is-small"><i class="fas fa-user-circle" aria-hidden="true"></i></span>
          <span  class="tabText">Profile</span>
        </a>

        <a data-target="pane-2" id="2" class="navbar-item" onclick="foodDisplay()">
          <span class="icon is-small"><i class="fas fa-apple-alt" aria-hidden="true"></i></span>
          <span class="tabText">Food</span>
        </a>

          <a data-target="pane-3" id="3" class="navbar-item" onclick="Excersice ()">
            <span class="icon is-small"><i class="fas fa-walking" aria-hidden="true"></i></span>
            <span class="tabText">Excercise</span>
          </a>

          <a data-target="pane-4" id="4" class="navbar-item" onclick="Logs()">
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span class="tabText">Logs</span>
          </a>

     
    </div>

    <div class="navbar-end">
      <div class="navbar-end">
        <div class="buttons">
          <a href="/logout" class="button is-primary" style="background-color: #192710;">
            Logout</a>
          </a>

        </div>
      </div>
    </div>

  </nav>
  <nav class="navbar-menu" role="navigation" aria-label="dropdown navigation">

  </nav>

  <div>

    <div class="tab-content">
    <div  id="pane-1" class="tab-pane is-active">

      <div class="card large">
        <div class="card-content">
          <div class="columns">
            <div class="column profile1">
              <p>
                <h1 class="profile"><strong>Profile</strong></h1>
                <ul id="full-name"></ul>
                <ul id="age">Age: </ul>
                <ul id="height">Height: </ul>
               <ul id="weight">Weight: </ul><button class="button is-info" onclick="weightChange()">Update Weight</button>
                <ul id="gender">Gender: </ul>
                <ul id="bmi">BMI: </ul>
                <ul id="dcn"></ul>
              </p>
              <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Update Weight</p>
                    <button onclick="closeWeightChange()" class="delete" aria-label="close"></button>
                  </header>
                  <section class="modal-card-body">
                    <input type="number" value="150" class="weightInput" />
                  </section>
                  <footer class="modal-card-foot">
                    <button type="submit" class="button weightBtn is-info">Save changes</button>
                    <button onclick="closeWeightChange()" class="button">Cancel</button>
                  </footer>
                </div>
              </div>
            </div>
            <div class="column">
              <h2 id="nutFact"><strong>Nutrition Quote</strong>
                <h2>
                  <div id="quoteContainer">
                    <p id="quoteGenius"></p>
                  </div>
                  <!-- <p class="control">
                  <a class="button is-info is-medium is-centered" id="quoteButton">OK</a>
                  </a>
                </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div  id="pane-2" class="tab-pane">
      <div class="card large">
        <div class="card-content">

          <div class="columns">
            <div class="column">
              <h1 id="foodSearch">Search our database of foods</h1>
              <br>
              <div class="field is-grouped is-grouped-multiline">
                <p class="control is-expanded">
                  <input class="input is-large" id="input" type="text" value="" placeholder="Search Food">
                </p>
                <p class="control">
                  <a class="button is-info is-large" id="foodButton">
                    Search
                  </a>
                </p>
              </div>
            </div>
          </div>
          <br>
          <div class="foodSrchInfo hidden">
            <div class="columns">
              <div class="column" id="img1">

              </div>
              <div class="column  food">
                <p class="control  foodBtn" >
                  <a class="button is-info is-large" id="logButton" style="background-color: #192710; text-align:center; margin:20px">
                    Log
                  </a>
                </p>
                <p></p>
                <span> </span><span id="name"></span>
                <p></p>
                <span>Calories: </span><span id="calories1"></span>
                <p></p>
                <span>Quantity: </span><span id="quantity"></span>
                <br>
                <br>
                <div><img  id='img2' height='150px' width='220px' src=''></div>
                <br>
                

              </div>

            </div>

          </div>
          <div class="foodSubmit hidden is-centered">
            <p>Your food has been submitted.</p>
          </div>

        </div>

        <div><img id='img2' height='140px' width='220px' src=''></div>
      </div>

    </div>

    <div  id="pane-3" class="tab-pane">
      <div class="card large">
        <div class="card-content">
          <div class="columns">
            <div class="column">

              <h1 id="exerciseTitle">Enter your workout details!</h1>
              <br>
              <div class="field is-grouped is-grouped is-grouped-multiline">
                <p class="control is-expanded">
                  <input class="input is-large" id="time" placeholder="Enter workout time in minutes">
                </p>

                <p class="control is-expanded is-grouped is-grouped-multiline">
                  <input class="input is-large" id="workout" placeholder="Enter workout">
                </p>
                <p class="control">
                  <a class="button is-info is-large" id="workoutButton">
                    Search
                  </a>
                </p>
              </div>
              <br>
              <br>
              <div class="exerciseInfo hidden">
                <p id="date"></p>
                <br>
                <br>
                <div class="columns">
                  <div class="column">
                    <b>Duration</b>
                    <p id="workoutLength"></p>
                  </div>
                  <div class="column">
                    <b>Workout</b>
                    <p id="workoutInfo"></p>
                  </div>
                  <div class="column">
                    <b>Calories Burned</b>
                    <p id="calories"></p>
                  </div>
                </div>
                <br>

                <a class="button is-info is-large is-centered" id="exerciseLog">
                  Log today's workout
                </a>



              </div>
              <div class="exerciseSubmit hidden is-centered">
                <p>Your exercise has been logged.</p>
              </div>


            </div>


          </div>
        </div>

      </div>

    </div>

    <div  id="pane-4" class="tab-pane">

      <div class="columns">
        <div class="column" style="min-width: 380px;">
          <div class="card large">
            <div class="card-content">
              <div>
                <h1>Exercise Log</h1>
              </div>

              <br>
              <br>
              <div class="columns" id="flexfix">
                <div class="column">
                  Date
                  <ul id="exercises">
                    {{#each this.exercise}}
                    <li>{{date}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Exercise
                  <ul id="exercises">
                    {{#each this.exercise}}
                    <li>{{exercise_name}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Duration
                  <ul id="exercises">
                    {{#each this.exercise}}
                    <li>{{duration}} minutes</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Calories
                  <ul id="exercises">
                    {{#each this.exercise}}
                    <li>{{calories_burned}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="column" style="min-width: 380px;">
          <div class="card large">
            <div class="card-content">
              <div>
                <h1>Food Log</h1>
              </div>
              <br>
              <br>
              <div class="columns" id="flexfix">
                <div class="column">
                  Date
                  <ul id="foods">
                    {{#each this.food}}
                    <li>{{date}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Food
                  <ul id="foods">
                    {{#each this.food}}
                    <li>{{food_name}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Servings
                  <ul id="foods">
                    {{#each this.food}}
                    <li>{{servings}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="column">
                  Calories
                  <ul id="foods">
                    {{#each this.food}}
                    <li>{{calories}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
  </div>


  </div>

  </div>


  <footer class="nonfooter hero-foot">
    <div class="content has-text-centered">
      <p>
        <strong style="color: #4d6a1b; padding-top:5px"> © 2020 Thomas Argent, Matt Dominick, Johan Bueno, Sharon
          Yelverton
        </strong>

      </p>
    </div>
  </footer>

</section>
<!-- <script src="bulma.js"></script> -->
<script>
  var profile = document.getElementById('pane-1');
  var food = document.getElementById('pane-2');
  var exercise = document.getElementById('pane-3');
  var logs = document.getElementById('pane-4');

  function foodDisplay (){
   
    event.preventDefault()
    food.classList.add("is-active")
    profile.classList.remove("is-active");
    exercise.classList.remove("is-active");
    logs.classList.remove("is-active");

  }
 function Profile (){

   event.preventDefault()
   profile.classList.add("is-active");
    food.classList.remove("is-active");
    exercise.classList.remove("is-active");
    logs.classList.remove("is-active");

 }
function Excersice (){

  event.preventDefault()
  exercise.classList.add("is-active");
  food.classList.remove("is-active");
  profile.classList.remove("is-active");
  logs.classList.remove("is-active");
}
function Logs(){

  event.preventDefault()
  logs.classList.add("is-active");
  food.classList.remove("is-active");
  exercise.classList.remove("is-active");
  profile.classList.remove("is-active");
}
   
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript" src='assets/js/nutritionLabel.js'></script>
<script type='text/javascript' src='assets/js/nutrition.js'></script>
<script type='text/javascript' src='assets/js/users.js'></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/quotes.js"></script>
<script src="assets/js/profile.js"></script>